@model Online_Shop.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Delete Product</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<br />
<br />
<br />
<div>
    <div class="col-md-4" style="margin-right:auto; margin-left:auto;">
        <h3>Are you sure you want to delete this?</h3>
        <br />

        <div class="single-new-pro mb-30 text-center">
            <div class="product-img">
                <img src="~/theme/assets/img/gallery/@Html.DisplayFor(model => model.Image)" alt="">
            </div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Marka)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Marka)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Modeli)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Modeli)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ngjyra)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ngjyra)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dd>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ProductId" />
                        <a asp-action="Index">Back to List</a>
                        <input type="submit" value="Delete" class="button button-contactForm boxed-btn" />
                    </form>
                </dd>
            </dl>
        </div>
    </div>
    <br />

</div>
